@use '../styles/tokens' as *;

.splash {
  width:    100%;
  height:   100vh;
  overflow: hidden;
  position: absolute;
  z-index:  1000;

  img {
    width:           100%;
    height:          100%;
    object-fit:      cover;
    object-position: center;
    display:         block;
  }
}

@media (min-width: 1024px) {
  .splash {
    width: $mobile-content-width;
  }
}
