@use '../styles/tokens' as *;

.userRegistration {
  background:       $color-background;
}

.error {
  color:            red;
  margin:           10px 0;
  white-space:      pre-line;
}

.fieldError {
  color:            red;
  margin:           5px 0;
  font-size:        0.9em;
  
  > div {
    margin:         2px 0;
  }
}
