// border radisu
$border-radius-small:         2px;
$border-radius-base:          4px;
$border-radius-medium:        6px;
$border-radius-large:        10px;
$border-radius-xlarge:       15px;
$border-radius-2xlarge:      20px;

// border wieght
$border-weight-bold:          2px;
$border-weight-base:          1px;

// Mergin & Padding size
$space-size-nano:             4px;
$space-size-micro:            8px;
$space-size-small:           12px;
$space-size-base:            16px;
$space-size-medium:          24px;
$space-size-large:           32px;
$space-size-xlarge:          40px;
$space-size-2xlarge:         48px;
$space-size-3xlarge:         56px;
$space-size-4xlarge:         64px;
$space-size-5xlarge:         72px;
$space-size-6xlarge:         80px;

// Others
$desktop-content-width:                       1024px;
$mobile-content-width:                        375px;
$full-width:                                  100vw;
$full-height:                                 100vh;
