@use 'sass:math';

// Font size base
$font-size-base-px:      14px !default;
$icon-size-base-px:      38px !default;
$icon-font-size-base-px: 24px !default;

// Font weight
$font-weight-light:      300;
$font-weight-regular:    400;
$font-weight-medium:     500;
$font-weight-bold:       700;
$font-weight-black:      900;

// Font size
$font-size-none:         0rem;
$font-size-nano:         1.0rem * math.div(10px, $font-size-base-px);
$font-size-micro:        1.0rem * math.div(11px, $font-size-base-px);
$font-size-small:        1.0rem * math.div(12px, $font-size-base-px);
$font-size-base:         1.0rem;
$font-size-medium:       1.0rem * math.div(15px, $font-size-base-px);
$font-size-large:        1.0rem * math.div(16px, $font-size-base-px);
$font-size-xlarge:       1.0rem * math.div(18px, $font-size-base-px);
$font-size-2xlarge:      1.0rem * math.div(20px, $font-size-base-px);
$font-size-3xlarge:      1.0rem * math.div(22px, $font-size-base-px);
$font-size-4xlarge:      1.0rem * math.div(24px, $font-size-base-px);

// Line height rate
$line-height-fit:        1.0;
$line-height-nano:       1.2;
$line-height-small:      1.3;
$line-height-base:       1.5;
$line-height-medium:     1.8;
$line-height-large:      2.1;
$line-height-xlarge:     2.4;

// Letter spacing
$letter-spacing-small:   .03rem;
$letter-spacing-base:    .05rem;
$letter-spacing-medium:  .1rem;

// Font: Normal
$font-family-base: 'Kiwi Maru', Arial, sans-serif;
$font-family-num-base: 'Oswald', Arial, sans-serif;
