//- Text color alias
$text-color:           #333333;
$text-color-secondary: #666666;
$text-color-disabled:  #CCCCCC;

//- Custom brand colors
$text-color-link:      #4DB4B0;
$text-color-checked:   #4DB4B0;
$text-color-error:     #ff0000;
$text-color-saturday:  #A1C8DD;
$text-color-holiday:   #D94444;
$text-color-orange:    #FF8508;
