@use '../../styles/tokens' as *;


.avatar {
  border-radius:   999px;
  background:      linear-gradient(135deg, rgba(255, 92, 92, 0.2), rgba(255, 92, 92, 0.4));
  color:           $color-primary-strong;
  font-weight:     700;
  display:         inline-flex;
  align-items:     center;
  justify-content: center;
  text-transform:  uppercase;
  overflow:        hidden;
}

.sm {
  width:     36px;
  height:    36px;
  font-size: $font-size-base;
}

.md {
  width:     $space-size-2xlarge;
  height:    $space-size-2xlarge;
  font-size: $font-size-xlarge;
}

.lg {
  width:     $space-size-4xlarge;
  height:    $space-size-4xlarge;
  font-size: $font-size-4xlarge;
}

img.avatar {
  object-fit: cover;
}
