@use '../../styles/tokens' as *;

.messageContainer {
  display:     flex;
  margin-left: $space-size-small;
  white-space: wrap;
  word-break:  break-word;
  width:       300px;
  line-break:  anywhere;

  .avatar {
    width:  20%;
    height: 100%;
  }

  .info {
    width:          80%;
    display:        flex;
    position:       relative;
    font-size:      $font-size-small;
    padding-left:   $space-size-small;
    align-content:  center;
    flex-direction: column;

    .infoName {
      color: $color-text-secondary;
    }

    .message {
      font-size: $font-size-micro;
    }
  }
}