@use '../../styles/tokens' as *;

.productThumbnail{
  display:         flex;
  flex-direction:  row;
  gap:             $space-size-micro;
  position:        relative;
  padding:         0 $space-size-nano;
  padding-left:    $space-size-medium;
  padding-right:   $space-size-medium;

  .productImage{
    width:         84px;
    height:        84px;
    border-radius: $border-radius-large;
    overflow:      hidden;
    box-sizing:    border-box;

    img{
      width:      100%;
      height:     100%;
      object-fit: cover;
    }
  }

  .mainContent{
    display:         flex;
    flex-direction:  column;
    line-height:     1.2;
    justify-content: space-between;
    align-items:     flex-end;
    flex:            1;
    position:        relative;


    .productName{
      text-transform:     capitalize;
      overflow:           hidden;
      text-overflow:      ellipsis;
      font-weight:        $font-weight-bold;
      display:            -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      height:             fit-content;
      font-size:          $font-size-medium;
      width:              100%;

      .productOthers{
        font-size:   $font-size-nano;
        font-weight: 400;
      }
    }

    .hostContainer{
      display:         flex;
      align-items:     center;
      font-size:       $font-size-nano;
      justify-content: space-between;
      width:           100%;

      .hostLeft{
        display:     flex;
        align-items: center;
      }

      .hostName{
        width: 100%;
      }

      .hostInfo{
        display:        flex;
        flex-direction: column;
        padding-left:   $space-size-micro;
      }

      .purchase{
        display:        flex;
        font-size:      $font-size-nano;
        align-items:    baseline;
        letter-spacing: -0.01em;

        .priceNum{
          font-size:      $font-size-4xlarge;
          position:       relative;
          padding-left:   10px;
          font-weight:    $font-weight-black;
          letter-spacing: 1px;

          &:before{
            content:   '¥';
            position:  absolute;
            left:      0;
            bottom:    4px;
            font-size: $font-size-small;
          }
        }
      }
    }
  }

  .overlay{
    position:   absolute;
    top:        0;
    left:       $space-size-medium;
    right:      $space-size-medium;
    bottom:     0;
    pointer-events: none; // 必要に応じてクリックを透過
    opacity:    0;
    transform:  translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    &.visible{
      opacity:   1;
      transform:  translateY(0);
    }

    .otherHost{
      background: rgba(0, 0, 0, 0.8);
      display:  flex;
      width:    100%;
      position: relative;
      z-index:  2;
      padding-top:      $space-size-micro;
      padding-bottom:   $space-size-micro;
      border-radius:    $border-radius-large;

      .host{
        width:    100%;
        display:  flex;
        padding:  0 $space-size-small;
        position: relative;
    
        .hostInfo{
          .hostName{
            font-size: $font-size-large;
          }
        }
    
        .tagsWrapper{
          align-items: start;
    
          .tags{
            background: #d68e36;
            border:     1px solid $text-color-error;
            position:   absolute;
            top:        4px;
            right:      12px;
          }
        }
      }
    }
  }
}
