@use '../../styles/tokens' as *;

.sectionRoom {
  .roomContainer {
    width:          100%;
    display:        flex;
    flex-direction: row;
    height:         272px;
    gap:            $space-size-small;
    padding:        $space-size-micro;

    .thumbnailImage {
      width:   60%;
      display: flex;

      img {
        width:         100%;
        height:        100%;
        object-fit:    cover;
        border-radius: $border-radius-large;
      }
    }

    .contentContainer {
      width:           50%;
      display:         flex;
      flex-direction:  column;
      justify-content: space-between;
      padding:         $space-size-small 0;

      .hostInfo {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        justify-items:  center;
        gap:            $space-size-micro;

        .name {
          width:       100%;
          font-weight: $font-weight-medium;
          font-size:   $font-size-xlarge;
        }

        .hostRank {
          display:         flex;
          justify-content: space-between;
          width:           100%;

          .ranking {
            text-transform: capitalize;
          }

          .rating {
            letter-spacing: 1px;
          }
        }

        .tags {
          font-size:  $font-size-micro;
          width:      100%;
          text-align: end;
        }
      }

      .sectionPrice {
        display:         flex;
        justify-content: space-between;
        align-items:     baseline;

        .minBitTxt {
          font-size: $font-size-micro;
        }

        .priceNum {
          font-size:      $font-size-large + $font-size-base;
          font-weight:    $font-weight-black;
          font-family:    $font-family-num-base;
          letter-spacing: 1px;

          &:after {
            content:     'å††';
            display:     inline-block;
            font-family: $font-family-base;
            font-size:   $font-size-base;
            color:       $color-text-primary;
            font-weight: $font-weight-light;
          }

          &--high {
            color: $text-color-error;
          }

          &--low {
            color: $text-color-orange;
          }
        }
      }
    }
  }

  .mainContent {
    display:         flex;
    justify-content: center;
    width:           100%;
    flex-direction:  column;
    align-items:     center;
    padding-top:     $space-size-small;

    .title {
      font-size:      $font-size-xlarge;
      font-weight:    $font-weight-black;
      letter-spacing: $letter-spacing-medium;
    }

    .subtitle {
      font-weight: $font-weight-light;
      font-size:   $font-size-small;
    }
  }
}
